<h1>All Maps</h1>
<div class="row">
  <div class="small-12 columns">
    <ul class="small-block-grid-1 large-block-grid-2">
      <% @maps.each do |map| %>
        <li>
          <%= link_to "<div class=\"panel\">#{map.name}</div>".html_safe, map  %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
