<h1>About MHPedia</h1>
<p>MHPedia aims to be a comprehensive online database of information from the games in the Monster Hunter series. At the moment it only contains data on Monster Hunter 3 Ultimate, but the goal is to expand to all games in the series.</p>
<p>I started this site originally to help myself. As a relatively new fan of the series, I aksed myself questions like <em>"Where can I can ___?"</em> and <em>"Who do kill to get ___?</em> way too many times. I thought to myself there has got to be a better way to answer these questions... And that's what led to this site.</p>
<h4 class="subheader">Special Thanks</h4>
<p>This site would not be possible without the help of others. I would like to especially thank the following people for helping all theird contributions to the site.</p>
<ul class="small-block-grid-1 large-block-grid-2">
  <li><div class="panel">My awesome wife <3</div></li>
  <li><div class="panel"><%= link_to 'Yawus', 'http://www.reddit.com/user/Yawus/' %> from <%= link_to '/r/monsterhunter', 'http://reddit.com/r/monsterhunter' %></div></li>
</ul>
