<h1>All Items</h1>
<div class="row">
  <div class="small-12 columns">
    <%= paginate @items %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="small-block-grid-1 large-block-grid-2">
      <% @items.each do |item| %>
        <li>
        <div class="panel">
          <%= link_to(image_tag(item.img.blank? ? 'http://placehold.it/18' : item.img, style: 'width: 18px; height: 18px;') + ' ' + item.name, item) %>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= paginate @items %>
  </div>
</div>
